Django==5.1.2
djangorestframework
django-cors-headers
django-extensions
celery
ocrmypdf
ollama
langchain-ollama
PyPDF2
langchain-postgres
langchain
langchain-text-splitters
redis
celery[redis]==5.2.7
pdfminer.six
textblob
scikit-learn
numpy
semchunk
tiktoken
marker-pdf[full]
marker
python-dotenv
psycopg-binary
markitdown
pyyaml==6.0.1
djangorestframework-simplejwt
google-auth
google-auth-oauthlib
langgraph
docling
ipython
langgraph-supervisor
langgraph-checkpoint
langgraph-checkpoint-postgres
langchain-community
langchain-core
pdf2image==1.17.0
Pillow>=10.4.0
blurhash-python>=1.2.2
pyppeteer
SQLAlchemy
uuid
